/** favorite product **/
.fav-product-wrapper{
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

.fav-Product {
    display:grid;
    max-width: 1000 px;
    justify-content: center;
    align-content: center;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    padding: 80px;
    margin:auto;
    column-gap: 20px;
}

.product_img {
    width: 400px;
    height: 500px;
    margin-left: 50px;
}

.product_content{
    display:block;
    position:relative;
    max-width:400px;
    margin:auto;
}

.price-title{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.product_compare_price{
    text-decoration: line-through;
    text-align: right;
    color: lightgray;
}

.product_price{
    padding-top: 20px;
    text-align: right;
}

/** size table **/
.sizeTable{  
    display:inline-table;
    height:200px;
    width:400px; 
    border: 1px solid #dddddd;
    
}
.product-size>sizeTable{
    display:inline-table;
    height:200px;
    width:400px; 
    border-top:1px solid #dddddd;
    border-bottom:1px solid #dddddd;
}

.sizeText{
    font-size: 14px;
    text-align: center;
    display: revert;
    font-family: Lora;
    font-weight: bold;
    color:#222;
    margin: 10px 184.8px 9.5px 185px;
   
}

.sizes{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    padding: 25px;
    column-gap: 20px;
}

.size{
     color:black;
}

.size > input[type="radio"]{
    visibility: hidden;
    height: 0;
    width: 0;
    display: inline-block;
    border: 1px solid lightgrey;
   }

  .size > input:checked+label {
    border-color: #000;
    background:#000;
    color: #fff;
   }

.size > label {
    display:block;
    text-align: center;
    cursor: pointer;
    padding: 10px 10px;
    border: 1px solid lightgrey;
    min-width:30px;
  }



.addButtonDiv{
    margin: 0 0 0 10px;
    padding: 11px 42px;
    display: flex;
}

.addButton{
    width: 145px;
    height: 36px;
    margin: auto;
    padding: 11px 27px;
    color: white;
    background: black;
    border: solid 1px #222;
    align-items: center;
}


 /**second page of product**/
  .product-wrapper{
      display:grid;
      grid-template-columns: 1fr 1fr;
  }

  .product-image{
  	padding-top: 5rem;
    text-align: center;
  }

  .product-image>img{
      margin:auto;
      max-width: 100%;
      padding:10px;
      width:100%;
      height:auto;
      margin:20px;
     
  }

.product-title{
    font-size: 36px;
    color: #222;
    font-family: unset;
    margin: 0 0 20px;
    padding-top: 5rem;
}

.product-size-discription{
    border-bottom: 1px solid #dddddd;
    text-align: inherit;
    width: fit-content;
    font-family: OpenSans;
    color: #222;
    line-height: 20px;
}

.product-detail{
    width:400px;
    margin:0 auto;
    top:0;
    position:sticky;
    height:max-content;
    padding-bottom: 3rem;
}

.product-detail_price{
    display: flex;
    justify-content: flex-end;
}

.product-description{
    padding: 10px;
    border-left: 1px solid #dddd;
    border-right: 1px solid #dddd;
}

@media (max-width: 980px) {
    .product-detail{
         position: unset;
    }
    .product-wrapper{
        display:flex;
        flex-direction: column-reverse;
        grid-template-rows: 1fr 1fr;
    }
  
    .product-image{
      padding-top: 5rem;
      text-align: center;
    }
  
    .product-image>img{
        margin:auto;
        max-width: 100%;
        padding:10px;
        margin:20px;
    }
  }

  @media (max-width: 770px) {
    .fav-Product {
      display: block;
    }
  }

@media (max-width: 320px) {

    .product-title{
       margin: 19px 0 20px;
       font-family: Lora;
       font-size: 36px;
       font-style: normal;
       line-height: normal;
       letter-spacing: normal;
       color: #222;
       padding-top: 0;
    }

     .product-image{
         display: none;
     }

     .price-title{
         padding:0rem;
     }
 }

/*tag on the product*/
.product_tag{
    position:absolute;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background: black; 
}

.product-tag_text{
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tag_product{
    position:absolute;
}







